:root {
    --light: #f5f5f5;
    --dark: #000000;
    --backgroundColor: #000000b0;
    --darkerBackgroundColor: #00000090;
    --shadow_param_1: #000000cc;
    --shadow_param_2: #00000050;
    --padding: 1rem;
    --gap: 2rem;
    --card-width: 10rem;
    --card-height: 12rem;
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    height: 100%;
    min-width: 300px;
    font-size: 10px;
}
.root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: url('/src/assets/img/bg.jpg') no-repeat center center/cover;
    inset: 0 0;
    z-index: -1;
}
.App {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    color: var(--light);
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    background: inherit;
    background-attachment: fixed;
}
.currentWeather {
    position: relative;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(2 * var(--padding));
    font-size: 1.5rem;
    background: inherit;
    background-attachment: fixed;
    box-shadow: 0 6px 20px var(--shadow_param_1), 0 6px 20px var(--shadow_param_2);
    border-radius: 10px;
    overflow: hidden;
    z-index: 10;
}
.currentWeather::before,
.weather-details__container::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: -50px;
    background: inherit;
    box-shadow: inset 0 100px 300px var(--backgroundColor);
    filter: blur(1px);
    z-index: -1;
}
.search__input {
    width: 100%;
    padding: var(--padding);
    background: initial;
    border: none;
    border-bottom: solid 1px var(--light);
    color: var(--light);
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    z-index: 5;
}
.search__input:focus {
    outline: none;
}
.search__input::placeholder {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--light);
    text-align: center;
}
.search__input:placeholder-shown {
    text-align: left;
}
.currentWeather__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
    padding: calc(2 * var(--padding));
}
.currentWeather__city {
    font-size: 1.5rem;
}
.currentWeather__temp {
    font-size: 3rem;
}
.currentWeather__icon > img {
    display: flex;
    width: 8rem;
}
.currentWeather__details {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}
.currentWeather__pressure,
.currentWeather__humidity,
.currentWeather__wind {
    display: flex;
    flex-direction: row;
    font-size: 1.5rem;
    gap: calc(var(--gap) / 2);
}
.weather-details {
    position: relative;
    width: 100%;
    min-width: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    background: inherit;
    background-attachment: fixed;
}
.weather-details__controls {
    display: flex;
    height: 5rem;
    width: 100%;
    align-items: flex-end;
    justify-content: flex-end;
    background: inherit;
    background-attachment: fixed;
    z-index: 5;
}
.forecastWeather {
    display: flex;
    background: inherit;
    background-attachment: fixed;
    height: calc(5rem + var(--card-height));
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    min-height: 0;
    min-width: 0;
}
.swiper {
    display: flex;
}
.swiper-wrapper {
    align-self: center;
}
.forecastWeather__card {
    position: relative;
    width: var(--card-width);
    height: var(--card-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: var(--padding);
    background: inherit;
    background-attachment: fixed;
    border-radius: 10px;
    box-shadow: 0 6px 20px var(--shadow_param_1), 0 6px 20px var(--shadow_param_2);
    overflow: hidden;
}
.forecastWeather__card::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: -10px;
    background: inherit fixed;
    box-shadow: inset 0 50px 100px var(--backgroundColor);
    filter: blur(5px);
    z-index: -1;
}
.forecastWeather__date {
    font-size: 1.2rem;
}
.forecastWeather__icon > img {
    width: 6rem;
}
.forecastWeather__temp {
    font-size: 1.5rem;
}
.weather-details__container {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: var(--padding);
    font-size: 1.2rem;
    background: inherit;
    background-attachment: fixed;
    border-radius: 10px;
    box-shadow: 0 6px 20px var(--shadow_param_1), 0 6px 20px var(--shadow_param_2);
    overflow: hidden;
    z-index: 10;
}
.weather-details__temp,
.weather-details__sun,
.weather-details__wind,
.weather-details__other {
    display: flex;
    flex-direction: column;
    padding: var(--padding);
    gap: calc(var(--gap) / 2);
    text-align-last: justify;
}
.weather-details__temp > i,
.weather-details__sun > i,
.weather-details__wind > i,
.weather-details__other > i {
    align-self: center;
}
@media (min-width: 576px) {
    html {
        font-size: 11px;
    }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
    html {
        font-size: 13px;
    }
    .App {
        justify-content: center;
        flex-direction: row;
        padding: calc(2 * var(--padding));
    }
    .currentWeather {
        min-width: 25rem;
        max-width: 25rem;
        padding: calc(2 * var(--padding));
    }
    .currentWeather__container {
        padding: calc(2 * var(--padding));
    }
    .weather-details {
        padding-left: 2rem;
    }
    .weather-details__controls {
        height: auto;
    }
}
@media (min-width: 1200px) {
    html {
        font-size: 14px;
    }
    .root {
        justify-content: center;
    }
    .App {
        justify-self: center;
        max-width: 1400px;
        padding: calc(4 * var(--padding));
    }
    .currentWeather {
        padding: 4rem 2rem;
    }
    .currentWeather__container {
        padding: calc(2 * var(--padding));
    }
    .currentWeather__icon > img {
        width: 12rem;
    }
    .weather-details {
        align-items: center;
    }
    .weather-details__container {
        padding: calc(2 * var(--padding));
        justify-content: space-between;
    }
}
