*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bright: #f5f5f5;
    --dark: #05090c;
    --backgroundColor: #0b1218;
    --darkerBackgroundColor: #090f14;
    --primaryColor: #00efff;
    --navHeight: 6rem;
    --navHeightNegative: calc(-1 * var(--navHeight));
    --contentHorizontalPadding: 0 8vw;
    --contentHorizontalMargin: 0 8vw;
    --contentVerticalPadding: min(10vw, 10rem) 0;
    --gap: 2rem;
}
html {
    font-size: 12px;
}
.App {
    background: url('/src/img/bg.png') no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    inset: 0 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
    color: var(--dark);
    gap: var(--gap);
}
.glass {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: var(--gap);
    background: inherit;
    background-attachment: fixed;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.8), 0 6px 20px rgba(0, 0, 0, 0.35);
    font-size: 1rem;
    overflow: hidden;
    z-index: 0;
}
.glass::before {
    content: '';
    position: absolute;
    background: inherit;
    inset: 0;
    margin: -20px;
    box-shadow: inset 0 0 500px #ffffff50;
    filter: blur(7px);
    z-index: -1;
}
.search {
    width: 100%;
    padding: 1rem;
    background: inherit;
    border: none;
    border-bottom: solid 1px var(--dark);
    color: var(--dark);
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    font-size: 1.25rem;
    text-align: center;
    z-index: 2;
}
.search:focus {
    outline: none;
}
.search::placeholder {
    font-family: 'Spartan', sans-serif;
    font-weight: 300;
    color: var(--dark);
    text-align: center;
}
.search:placeholder-shown {
    text-align: left;
}
.data__container {
    display: flex;
    flex-direction: column;
}
.data {
    display: flex;
    justify-content: start;
    padding: 1rem 0;
}
.horizontal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.loc {
    font-size: 1.5rem;
}
.icon {
    display: flex;
}
